@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>Intra Lab</h1>
    <p class="lead">
        Intra Lab - молодая, развивающаяся компания на рынке IT услуг
        и разработки программного обеспечения
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<p>Нас мало, но мы в тельняшках</p>
<p>Вдарим рок в этой дыре</p>
