@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title:</h2>
<h3>@ViewBag.Message</h3>

<address>
    Республика Крым г. Симферополь<br />
    <br />
    <strong>Тел 1:</strong>
    +7-978-052-79-61<br/>
    <strong>Тел 2:</strong>
    +7-978-793-04-98
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:general@intra-lab.ru">general@intra-lab.ru</a><br />
</address>