@{
    ViewBag.Title = "Intra Lab";
}

<div class="jumbotron">
    <h1>Intra Lab</h1>
    <p class="lead">Intra Lab - молодая, развивающаяся компания на рынке IT услуг 
    и разработки программного обеспечения</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Разработка ПО</h2>
        <p>
            Мы можем.<br />
            МЫ СДЕЛАЕМ!<br />
            Наверное.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Подбор оборудования</h2>
        <p>Мы поможем с выбором аппаратного решения в любой области информационных технологий</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Системы видеонаблюдения:</h2>
        <p>Сохраняете под контролем все ваше имущество</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>