
@{
    ViewBag.Title = "Наши услуги";
}

<h2>Наши услуги:</h2>

<h3>Беспроводные сети</h3>

<h3>Подбор, приобретение, запуск в эксплуатацию оборудования по вашим параметрам</h3>

<h3>Консультирование, сопровождение</h3>

<h3>Проектирование и организация локальных сетей, сетей предприятий</h3>
<p>
    Проектирование локальной вычислительной сети представляет собой достаточно сложный процесс.
    Начинается он с разработки технического задания, которое следует тщательно продумать,
    так как недочеты в нем грозят последующими трудностями в построении сети и дополнительными финансовыми затратами.
    Первичное проектирование можно произвести с помощью специальных конфигураторов, которые позволят подобрать
    оптимальное сетевое оборудование. Мы предлагамт решения на базе оборудования Juniper Networks, Extreme Networks.
</p>

<h3>IP-телефония</h3>

<h3>Мониторинг деятельности пользователей</h3>
<p>
    бизнес-процессов на современном предприятии происходит с помощью внедрения в структуру
    компании системы мониторинга. Это специализированное решение позволяет производить
    качественную оценку эффективности работы, как определённых групп сотрудников, так и
    персональную оценку качества работы.
</p>

<h3>Видеоконференцсвязь</h3>
<p>
    Многоточечные системы видеоконференцсвязи (ВКС), как инструмент эффективных бизнес-коммуникаций,
    широко используются в частном бизнесе и на государственных предприятиях.
    С помощью ВКС можно повысить эффективность командной и совместной работы сотрудников.
    В процесс совместного обсуждения могут быть вовлечены люди, находящиеся вне корпоративной сети -
    независимые консультанты, удаленные сотрудники, партнеры.
</p>

<h3>Системы видеонаблюдения</h3>
<p>
    Современные системы безопасности обеспечивают высокий уровень защиты от потенциальных факторов угроз и
    позволяют добиться высокой эффективности и контроля на объектах промышленного и жилого назначения.
    С помощью систем видеонаблюдения (СВ) корпоративная служба безопасности может вести круглосуточный мониторинг
    событий на промышленном комплексе, группе предприятий или в офисном здании.
</p>




