
@{
    ViewBag.Title = "Наши услуги";
}

<h2>Наши услуги:</h2>
<br />


<div class="row">
    <a href=@Url.Action("Wireless", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center">
            <img src="~/Content/images/services/Wireless/Wireless.png" width="100" title="Wireless" alt="Wireless" style="margin-top:15px" />
            <h3>Беспроводные сети</h3>
        </div>
    </a>
    <a href=@Url.Action("Equipment", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center">
            <img src="~/Content/images/services/Equipment.png" width="100" title="Equipment" alt="Equipment" style="margin-top:15px" />
            <h3>Подбор оборудования</h3>
        </div>
    </a>
    <a href=@Url.Action("LAN", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center">
            <img src="~/Content/images/services/LAN.png" width="100" title="LAN" alt="LAN" style="margin-top:15px" />
            <h3>Организация ЛВС</h3>
        </div>
    </a>
</div>
<div class="row">
    <a href=@Url.Action("IPtelephony", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center">
            <img src="~/Content/images/services/IPtelephony.png" width="100" title="IPtelephony" alt="IPtelephony" style="margin-top:15px" />
            <h3>IP-телефония</h3>
        </div>
    </a>
    <a href=@Url.Action("UserMonitoring", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center">
            <img src="~/Content/images/services/UserMonitoring.png" width="100" title="UserMonitoring" alt="UserMonitoring" style="margin-top:15px" />
            <h3>Мониторинг деятельности пользователей</h3>
        </div>
    </a>
    <a href=@Url.Action("Videoconferencing", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center">
            <img src="~/Content/images/services/Videoconferencing.png" width="100" title="Videoconferencing" alt="Videoconferencing" style="margin-top:15px" />
            <h3>Видеоконференцсвязь</h3>
        </div>
    </a>
</div>
<div class="row">
    <a href=@Url.Action("Videosurveillance", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center">
            <img src="~/Content/images/services/Videosurveillance.png" width="100" title="Videosurveillance" alt="Videosurveillance" style="margin-top:15px" />
            <h3>Системы видеонаблюдения</h3>
        </div>
    </a>
    <a href=@Url.Action("Develop", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center">
            <img src="~/Content/images/services/Develop.png" width="100" title="Develop" alt="Develop" style="margin-top:15px" />
            <h3>Разработка WEB-сайтов</h3>
        </div>
    </a>
    <a href=@Url.Action("Support", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center">
            <img src="~/Content/images/services/Support.png" width="100" title="Support" alt="Support" style="margin-top:15px" />
            <h3>Поддержка</h3>
        </div>
    </a>
</div>

