
@{
    ViewBag.Title = "Наши услуги";
}

<h2>Наши услуги:</h2>
<br />


<div class="row">
    <a href=@Url.Action("Wireless", "Services")>
        @*<img src="~/Content/images/logo.png" width="150" title="intra lab" alt="intra lab" />*@
        @*<div class="col-md-4" style="height:200px; border: 1px solid #265a07; border-radius: 10px;">
                <h3>Беспроводные сети</h3>
            </div>*@
        <div class="col-md-4" style="height:200px; text-align:center; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1">
            <h3 style="margin-top:90px">Беспроводные сети</h3>
        </div>
    </a>
    <a href=@Url.Action("Equipment", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1">
            <h3 style="margin-top:80px">Подбор, приобретение, запуск в эксплуатацию оборудования</h3>
        </div>
    </a>
    <a href=@Url.Action("LAN", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center; border-bottom:1px solid #e1e1e1">
            <h3 style="margin-top:80px">Проектирование и организация проводных локальных сетей</h3>
        </div>
    </a>
</div>
<div class="row">
    <a href=@Url.Action("IPtelephony", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1">
            <h3 style="margin-top:90px">IP-телефония</h3>
        </div>
    </a>
    <a href=@Url.Action("UserMonitoring", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1">
            <h3 style="margin-top:80px">Мониторинг деятельности пользователей</h3>
        </div>
    </a>
    <a href=@Url.Action("Videoconferencing", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center; border-bottom:1px solid #e1e1e1">
            <h3 style="margin-top:90px">Видеоконференцсвязь</h3>
        </div>
    </a>
</div>
<div class="row">
    <a href=@Url.Action("Videosurveillance", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center; border-right:1px solid #e1e1e1">
            <h3 style="margin-top:90px">Системы видеонаблюдения</h3>
        </div>
    </a>
    <a href=@Url.Action("Develop", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center; border-right:1px solid #e1e1e1">
            <h3 style="margin-top:90px">Разработка WEB-сайтов</h3>
        </div>
    </a>
    <a href=@Url.Action("Support", "Services")>
        <div class="col-md-4" style="height:200px; text-align:center">
            <h3 style="margin-top:80px">Консультирование, сопровождение</h3>
        </div>
    </a>
</div>

