
@{
    ViewBag.Title = "Разработка WEB-сайтов";
}

<h3>Разработка WEB-сайтов</h3>
<p style="text-align:justify">
    Современный бизнес уже невозможно построить без участия Интернета, достаточно лишь 
    взглянуть на статистику, согласно которой в России всемирной паутиной пользуется более 
    70 миллионов человек, каждый из которых может стать клиентом вашей компании. Оценив 
    такие перспективы, вы наверняка задумаетесь о создание собственного Интернет-сайта, 
    но даже ознакомившись с этой темой можно понять, что без специалистов этой области 
    обойтись не получится.
</p>
<p style="text-align:justify">
    Наша компания предлагает создание сайтов под ключ, при этом сложность проекта не играет роли.
    Мы предлагаем несколько типовых вариантов: сайт-визитка, информационный ресурс вашей компании,
    корпоративный сайт. Выбранный вами вариант будет создан с использованием последних технологий и
    профессионального дизайна, что позволит вам получить качественный сайт с респектабельным внешним
    видом. При необходимости будут реализованы любые дополнительные функции, которые требуются для
    ведения вашего бизнеса.
</p>
<p style="text-align:justify">
    Весь цикл работы от создания общей концепции до запуска сайта может занять продолжительное
    время, что напрямую зависит от сложности проекта. Не мало важно и хорошее взаимопонимание,
    ведь любые изменения, которые вы захотите внести, будут увеличивать объем работы и срок окончания
    проекта. Поэтому, перед началом разработки сайта, будет составлено подробное техническое задание,
    где вы сможете указать все ваши пожелания и требования, что исключит срыв сроков и избавит от 
    множества проблем.
</p>