
@{
    ViewBag.Title = "IP-телефония";
}

<h3>IP-телефония</h3>
<p style="text-align:justify">
    Телефонные сети являются важным составным элементов любого современного офиса, административного здания или жилого дома.
    От качества прокладки телефонных сетей во многом зависит уровень связи, доступность звонков, и, не в последнюю очередь,
    оптимизированная работа всего офисного персонала.
</p>
<p style="text-align:justify">
    Для организации высокоэффективной работы персонала, многие руководители современных фирм и компаний обращают свое
    внимание на IP-АТС. Данное оборудование позволяет обеспечить высокое качество связи, надежность, доступность и
    многофункциональность. При помощи современных IP-АТС сегодня уже нет необходимости бегать из кабинета в кабинет,
    чтобы отвечать на звонки. Нажатием одной кнопки на абонентском устройстве можно переводить звонки на любого сотрудника.
    У Вас есть возможность организовывать совещания и конференции, соединяя нескольких деловых партнеров, объединенных
    одной телефонной сетью.
</p>
<p style="text-align:justify">
    Настройка и программирование современных автоматических телефонных станций требует высокого профессионализма и опыта.
    Нередки ситуации, когда, казалось бы, профессиональное оборудование «отказывается» выполнять свои функции надлежащим
    образом, негативно сказываясь на эффективности работы офисного персонала. Как правило, в таких ситуациях всему виной
    непрофессиональный монтаж и неграмотная настройка. Мы делаем грамотный монтаж и программирование IP-АТС и сопутсвующего
    оборудования.
</p>
<p style="text-align:justify">
    Мы предлагаем решения на базе IP-АТС (IP PBX) «АГАТ UX». Подбираем оборудование отвечающее любым Вашим требованиям.
</p>

