
@{
    ViewBag.Title = "IP-телефония";
}

<h3>IP-телефония:</h3>
<p>
    Независимая полнофункциональная УАТС, позволяющая организовывать качественную телефонную и факсимильную связь не только через обычные телефонные линии,
    но и через IP-сеть средствами IP-телефонии.
    АТС подключается к внешним телефонным сетям через аналоговые телефонные линии, потоки Е1, IP-сети. Внутренние абоненты могут использовать обычные аналоговые телефоны,
    системные телефоны и IP-телефоны, регистрируемые на встроенном SIP Proxy сервере станции.
</p>
<p>
    Мы предлагаем решения на базе IP-АТС (IP PBX) «АГАТ UX». Подбираем оборудование отвечающее любым Вашим требованиям.
</p>

