
@{
    ViewBag.Title = "Проектирование и организация проводных локальных сетей";
}

<h3>Проектирование и организация проводных локальных сетей:</h3>
<p>
    Проектирование локальной вычислительной сети представляет собой достаточно сложный процесс.
    Начинается он с разработки технического задания, которое следует тщательно продумать,
    так как недочеты в нем грозят последующими трудностями в построении сети и дополнительными финансовыми затратами.
    Первичное проектирование можно произвести с помощью специальных конфигураторов, которые позволят подобрать
    оптимальное сетевое оборудование.
</p>