
@{
    ViewBag.Title = "Мониторинг деятельности пользователей";
}

<h3>Мониторинг деятельности пользователей:</h3>
<p>
    Оптимизация бизнес-процессов на современном предприятии происходит с помощью внедрения в структуру
    компании системы мониторинга. Это специализированное решение позволяет производить
    качественную оценку эффективности работы, как определённых групп сотрудников, так и
    персональную оценку качества работы.
</p>