
@{
    ViewBag.Title = "Видеоконференцсвязь";
}

<h3>Видеоконференцсвязь</h3>
<p  style="text-align:justify">
    Видеоконференцсвязь (ВКС) — это современный высокотехнологичный инструмент совместной 
    работы, с помощью которого можно оперативно организовывать онлайн-совещания и встречи, 
    а также проводить вебинары и онлайн-трансляции на большое количество участников. 
    Современные системы ВКС постепенно достигают такого уровня качества передачи видеоизображения 
    и звука, что в процессе общения создается «эффект присутствия», а объем воспринимаемой посредством 
    ВКС информации достигает порядка 90%. При этом, в отличие от личных встреч, ВКС имеет ряд 
    преимуществ, таких как:

    <ul>
        <li>
            скорость и простота организации мероприятия (совещания или онлайн-семинара);
        </li>
        <li>
            возможность мгновенно делиться документами, рабочим столом и программами своего компьютера со всеми 
            участниками, совместно их обсуждать и редактировать;
        </li>
        <li>
            запись мероприятий;
        </li>
        <li>
            при необходимости подключение других участников, находящихся онлайн, к мероприятию, 
            где бы они не находились;
        </li>
        <li>
            участие в мероприятиях дистанционно, в том числе с мобильных устройств;
        </li>
        <li>
            проведение опросов и голосований просто и быстро с автоматическим анализом результатов в процессе;
        </li>
        <li>
            использование чата, в том числе приватного между отдельными участниками мероприятия
        </li>
    </ul>
</p>
<p  style="text-align:justify">
    Наша компания предлагает множество как программных, так и аппаратно-программных 
    решений для организации видеоконференцсвязи.
</p>