
@{
    ViewBag.Title = "Системы видеонаблюдения";
}

<h3>Системы видеонаблюдения:</h3>
<p>
    Современные системы безопасности обеспечивают высокий уровень защиты от потенциальных факторов угроз и
    позволяют добиться высокой эффективности и контроля на объектах промышленного и жилого назначения.
    С помощью систем видеонаблюдения (СВ) корпоративная служба безопасности может вести круглосуточный мониторинг
    событий на промышленном комплексе, группе предприятий или в офисном здании.
</p>