
@{
    ViewBag.Title = "Системы видеонаблюдения";
}

<h3>Системы видеонаблюдения</h3>
<p  style="text-align:justify">
    Обеспечение безопасности организации играет большую роль. Поэтому, 
    неудивительно, что все больше фирм принимают решение по установке 
    систем видеонаблюдения. Большое разнообразие камер позволяет обеспечить 
    круглосуточное наблюдение, как за прилежащей территорией, так и за внутренними 
    помещениями. Но не стоит заблуждаться, что монтаж камер по плечу любому специалисту. 
    Во-первых, перед установкой нужно объективно и профессионально оценить условия, в 
    которых будет работать система видео наблюдения, то есть, производить своеобразный 
    аудит и подбор соответствующего оборудования. К примеру, для обслуживания территории в 
    ночное время необходимы камеры с инфракрасным излучателем, в противном случае, защита 
    периметра будет бесполезна. Во-вторых, большое количество установленных камер требует 
    правильной коммутации и подключения к блоку управления, который так же будет вести архив 
    всех записей и производить контроль за работой каждой камеры. В результате, с уверенностью 
    можно сказать, что установка системы видеонаблюдения под силу только специалисту этого 
    профиля, который сможет не только подобрать оборудование, но и правильно подключить его, 
    что обеспечит качественную и бесперебойную работу всей системы.
</p>
<p  style="text-align:justify">
    Услуги по монтажу и настройке системы видеонаблюдения Вы можете получить в нашей компании. 
    Наши специалисты проведут детальный анализ и смогут подобрать решения, подходящие именно вам. 
    Обращаясь к нам, вы можете быть уверены, что все поставленные задачи будут решены профессионально, 
    с использованием современных стандартов и профессионального оборудования
</p>