
@{
    ViewBag.Title = "Видеоконференцсвязь";
}

<h3>Видеоконференцсвязь:</h3>
<p>
    Многоточечные системы видеоконференцсвязи (ВКС), как инструмент эффективных бизнес-коммуникаций,
    широко используются в частном бизнесе и на государственных предприятиях.
    С помощью ВКС можно повысить эффективность командной и совместной работы сотрудников.
    В процесс совместного обсуждения могут быть вовлечены люди, находящиеся вне корпоративной сети -
    независимые консультанты, удаленные сотрудники, партнеры.
</p>