
@{
    ViewBag.Title = "Беспроводные сети";
}

<div>
    <h3>Беспроводные сети</h3>
    
    <p style="text-align:justify">
        Современные беспроводные сети получили на сегодняшний день необыкновенную популярность.
        Стоит отметить, что на Западе и в ряде европейских стран подобные услуги давно уже никого не удивляют,
        в то время как в нашей стране это явление относительно новое. Первоначальная задача беспроводных сетей
        заключается в эффективной оптимизации работы локальных систем внутри административных или промышленных
        зданий или комплексов зданий. Наибольшей популярностью беспроводные сети пользуются в том случае, когда
        нет возможности установки традиционных кабельных систем оптимального качества. В данном случае беспроводные
        сети являются незаменимым помощником, помогающим организовать бесперебойную работу разнообразного сетевого
        оборудования. Другими словами можно сделать вывод, что беспроводные сети представляют собой технологию,
        основанную на использовании тех же стандартов, которые применяются в привычных проводных сетях, но без
        использования кабелей и проводов, то есть, кабельной системы. В данном случае для передачи информации
        используются радиоволны высокой частоты.
    </p>
    @*<p style="text-align:justify">
        Одним из наиболее перспективных видов современных беспроводных сетей является технология Wi-Fi.
        Первоначальной задачей использования подобной технологии является обеспечение нужд и потребностей
        сотрудников той или иной фирмы или организации. Предлагаемая нашей компанией установка Wi-Fi обладает
        целым рядом преимуществ, основными из которых являются:
    </p>*@
    <div>
        <img src="~/Content/images/services/Wireless/Wireless2_01.png" alt="Wireless2_01" class="img-responsive" style="margin: 0 auto" />
        <img src="~/Content/images/services/Wireless/Wireless2_02.png" alt="Wireless2_02" class="img-responsive" style="margin: 0 auto" />
        <img src="~/Content/images/services/Wireless/Wireless2_03.png" alt="Wireless2_03" class="img-responsive" style="margin: 0 auto" />
    </div>
    <br />
    <p style="text-align:justify">
        Одним из основных важных моментов для оптимальной работы Wi-Fi оборудования является установка точки доступа,
        представляющую собой своеобразную базовую станцию. Точка доступа позволяет обеспечивать надежную и стабильную
        работу сетевого оборудования в пределах радиуса действия. Стоит отметить, что радиус стандартной точки доступа
        составляет не более 250 метров. В связи с этим, для оптимальной работы внутри одного здания (в зависимости от его площади),
        как правило, устанавливаются несколько точек доступа.
    </p>
    <p style="text-align:justify">
        Наша компания оказывает широкий спектр услуг, связанных с установкой и обслуживанием современных беспроводных сетей:
    </p>
    <ul>
        <li>проектирование сети;</li>
        <li>приобретение необходимого оборудования;</li>
        <li>установка, настройка и диагностика.</li>
    </ul>


</div>
